@tailwind base;
@tailwind components;
@tailwind utilities;

body{

    @apply text-gray-800
}


 footer a{
    @apply hover:text-secondary-500 duration-300 hover:ml-2
}


.no-select {
    user-select: none;
  }


  /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-quaternary-300 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-quaternary-400 
  }


  .responsive-space{

    @apply my-12 lg:my-0
  }


  select + .select2-container {
    width: 100% !important;
  }

